<div id="bookListWrapper">
    <p>Please click on buy button to buy the book.</p>
    
    <div>
        <ul class="list-unstyled">
            <li class="book"
                style="background: white url(imgs/{{book.imgUrl}}) no-repeat"
                ng-repeat="book in kart">
                <div class="book-details clearfix">
                    <h3>Name : {{book.Name}}</h3>
                    <p>Price : {{book.Price}}</p>
                    <ul class="list-unstyled list-inline">
                        <li>Rating : {{book.Rating}}</li>
                        <li>Publisher : {{book.Publisher}}</li>
                    </ul>
                    <p>{{book.Details}}</p>
                    <button class="btn btn-info pull-right" ng-click="buy(book)">Buy</button>
                </div>
            </li>
        </ul>
    </div>
</div>